BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  BeforeElse: true
Language: Cpp
SortIncludes: false
AllowShortFunctionsOnASingleLine: false
